@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css";

.tile
{
    display: flex;
}

.has-bg-img
{
    background: url(Auto-pics/banner.jpg) no-repeat;
}

.tile.is-child.box
{
    width: 400px;
    height: 400px;
}

#b1
{
    background-image: url("Auto-pics/1.jpg");
    background-size: 400px 400px;
    background-position: center;
}

#b6
{
    background-image: url("Auto-pics/4.jpg");
    background-size: 400px 400px;
    background-position: center;
}

#b5
{
    justify-content: center;
    align-items: center;
}

#b4
{
    justify-content: center;
    align-items: center;
}

#b2
{
    background-color: black;
    justify-content: center;
    align-items: center;
}

#b3
{
    background-color: purple;
    justify-content: center;
    align-items: center;
}