@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css";

.has-bg-img
{
    background: url(Auto-pics/banner.jpg) no-repeat;
}

.box
{
    width: 400px;
    height: 400px;
}

#b1
{
    background-image: url("Auto-pics/1.jpg");
    background-size: 400px 400px;
    background-position: center;
}

#b6
{
    background-image: url("Auto-pics/4.jpg");
    background-size: 400px 400px;
    background-position: center;
}