body
{
    margin: 0px;
    padding: 0px;
}

#menu
{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#tresc
{
    margin-top: 100px;
}

#header
{
    width: 100%;
    height: 500px;
    background-image: url("Auto-pics/banner.jpg");
}

.box img
{
    height: 300px;
    width: 300px;
}

#container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box
{
    width: 33%;
    /* height: 33%; /*
    /* width: 400px; */
    height: 400px;
}

.box p
{
    font-size: 25px; 
}

#b1
{
    background-image: url("Auto-pics/1.jpg");
    background-position: center;

}

#b2
{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b3
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#b4
{
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b5
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#b6
{
    background-image: url("Auto-pics/4.jpg");
    background-position: center;  
}

#b7
{
    background-image: url("Auto-pics/1.jpg");
    background-position: center;

}

#b8
{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b9
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#b10
{
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b11
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

#b12
{
    background-image: url("Auto-pics/4.jpg");
    background-position: center;  
}